#piano {
  position: absolute;
  display: none;
}

#loading {
  background-image:url('/static/images/loader.gif');
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 40px;
  height: 32px;
  width: 32px;
}

#menu {
  display: none;
  position: absolute;
}

.white-key {
  float: left;
  border: 1px solid #000;
  border-bottom-width: 2px;
  border-top-width: 2px;
  cursor: pointer;
}

.black-key {
  position: absolute;
  z-index: 1000;
  background-color: #000;
  cursor: pointer;
}

.white-key.active {
  background-color: #ff99cc;
}

.black-key.active {
  background-color: #990033;
}

.white-key:first-child {
  border-left-width: 2px;
}

.white-key:last-child {
  border-right-width: 2px;
}
